:root {
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 8px;
  --card_small: 26;
  --card_medium: 33;
  --card_large: 45;
  --szablon-width: 80%;
  --szablon-margin: 20%;
  --szablon-height: 1250px;
  --szablon-color: #ffffff;
}
